body {
  background: #232323;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.3;
  padding: 20px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.square {
  width: 30%;
  background: purple;
  /* add space to make them visible (no content yet) */
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#stripe {
  background-color: #fff;
  height: 30px;
  text-align: center;
}

.selected {
  color: #fff;
  background: steelblue;
}

#colorDisplay {
  font-size: 150%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  font-size: inherit;
  color: steelblue;
  letter-spacing: 1px;
  transition: all .3s;
}

button:hover {
  color: #fff;
  background: steelblue;
}

#message {
  display: inline-block;
  width: 20%;
}